body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media (max-width: 375px) {
  h1 {
    font-size: 0.2em; }

  h2 {
    font-size: 0.2em; }

  span {
    font-size: 0.6em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 200px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 200px; }

  .thirdImg {
    width: 200px; } }
@media (min-width: 376px) and (max-width: 767px) {
  h3 {
    font-size: 1.2em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 300px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 400px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 200px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 400px; } }
body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row:after {
  display: block;
  clear: both;
  content: ''; }

.row + .row {
  margin-top: 3%; }

[class^="col-"] {
  float: left;
  margin-right: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  [class^="col-"]:last-child {
    margin-right: 0%; }

[class^="ns-col-"] {
  float: left;
  margin-right: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class^="of-col-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col-1 {
  width: 5.5833333333%; }

.col-2 {
  width: 14.1666666667%; }

.col-3 {
  width: 22.75%; }

.col-4 {
  width: 31.3333333333%; }

.col-5 {
  width: 39.9166666667%; }

.col-6 {
  width: 48.5%; }

.col-7 {
  width: 57.0833333333%; }

.col-8 {
  width: 65.6666666667%; }

.col-9 {
  width: 74.25%; }

.col-10 {
  width: 82.8333333333%; }

.col-11 {
  width: 91.4166666667%; }

.col-12 {
  width: 100%; }

.ns-col-1 {
  width: 8.3333333333%; }

.ns-col-2 {
  width: 16.6666666667%; }

.ns-col-3 {
  width: 25%; }

.ns-col-4 {
  width: 33.3333333333%; }

.ns-col-5 {
  width: 41.6666666667%; }

.ns-col-6 {
  width: 50%; }

.ns-col-7 {
  width: 58.3333333333%; }

.ns-col-8 {
  width: 66.6666666667%; }

.ns-col-9 {
  width: 75%; }

.ns-col-10 {
  width: 83.3333333333%; }

.ns-col-11 {
  width: 91.6666666667%; }

.ns-col-12 {
  width: 100%; }

.of-col-1 {
  width: 8.3333333333%;
  margin-left: 8.3333333333%; }

.of-col-2 {
  width: 16.6666666667%;
  margin-left: 16.6666666667%; }

.of-col-3 {
  width: 25%;
  margin-left: 25%; }

.of-col-4 {
  width: 33.3333333333%;
  margin-left: 33.3333333333%; }

.of-col-5 {
  width: 41.6666666667%;
  margin-left: 41.6666666667%; }

.of-col-6 {
  width: 50%;
  margin-left: 50%; }

.of-col-7 {
  width: 58.3333333333%;
  margin-left: 58.3333333333%; }

.of-col-8 {
  width: 66.6666666667%;
  margin-left: 66.6666666667%; }

.of-col-9 {
  width: 75%;
  margin-left: 75%; }

.of-col-10 {
  width: 83.3333333333%;
  margin-left: 83.3333333333%; }

.of-col-11 {
  width: 91.6666666667%;
  margin-left: 91.6666666667%; }

.wrapRow1 .col-4:nth-child(1) {
  border: 2px solid #107802; }

.wrapRow1 .col-4:nth-child(2) {
  border: 2px solid #094601; }

.wrapRow1 .col-4:nth-child(3) {
  border: 2px solid #031400; }

.wrapRow1 .col-4:nth-child(4) {
  border: 2px solid #660E52; }

.wrapRow2 .col-4:nth-child(1) {
  border: 2px solid #931476; }

.wrapRow2 .col-4:nth-child(2) {
  border: 2px solid #c01a9a; }

.wrapRow2 .col-4:nth-child(3) {
  border: 2px solid #e22bb8; }

.wrapRow2 .col-4:nth-child(4) {
  border: 2px solid #eb550f; }

.wrapRow3 .col-4:nth-child(1) {
  border: 2px solid #bb440c; }

.wrapRow3 .col-4:nth-child(2) {
  border: 2px solid #8b3209; }

.wrapRow3 .col-4:nth-child(3) {
  border: 2px solid #5b2106; }

.wrapRow3 .col-4:nth-child(4) {
  border: 2px solid #0000ff; }

.wrapRow4 .col-4:nth-child(1) {
  border: 2px solid #3333ff; }

.wrapRow4 .col-4:nth-child(2) {
  border: 2px solid #6666ff; }

.wrapRow4 .col-4:nth-child(3) {
  border: 2px solid #9999ff; }

.wrapRow4 .col-4:nth-child(4) {
  border: 2px solid #17aa03; }

.wrapRow5 .col-4:nth-child(1) {
  border: 2px solid #107802; }

.wrapRow5 .col-4:nth-child(2) {
  border: 2px solid #094601; }

.wrapRow5 .col-4:nth-child(3) {
  border: 2px solid #031400; }

.wrapRow5 .col-4:nth-child(4) {
  border: 2px solid #660E52; }

.wrapRow6 .col-4:nth-child(1) {
  border: 2px solid #931476; }

.wrapRow6 .col-4:nth-child(2) {
  border: 2px solid #c01a9a; }

.wrapRow6 .col-4:nth-child(3) {
  border: 2px solid #e22bb8; }

.wrapRow6 .col-4:nth-child(4) {
  border: 2px solid #eb550f; }

.wrapRow7 .col-4:nth-child(1) {
  border: 2px solid #bb440c; }

.wrapRow7 .col-4:nth-child(2) {
  border: 2px solid #8b3209; }

.wrapRow7 .col-4:nth-child(3) {
  border: 2px solid #5b2106; }

.wrapRow7 .col-4:nth-child(4) {
  border: 2px solid #0000ff; }

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#menu {
  display: none; }

.navbar {
  background-color: #660E52;
  position: fixed;
  width: 100%;
  height: 190px; }
  .navbar a {
    color: #f2f2f2;
    margin-left: 1em;
    text-decoration: none;
    padding: 0.3em 0.6em;
    white-space: nowrap; }
    @media (min-width: 376px) and (max-width: 767px) {
      .navbar a {
        font-size: 1.3em; } }
  .navbar a:hover {
    background: #E3CCD5;
    color: black; }
  .navbar ul {
    position: absolute;
    bottom: 3%;
    left: 30%; }
  .navbar li {
    font-size: 1em;
    display: table-cell;
    font-weight: 900; }
  @media (max-width: 375px) {
    .navbar {
      height: 140px; }
      .navbar li {
        font-size: 0.5em;
        display: none; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .navbar {
      height: 150px; }
      .navbar li {
        font-size: 13em;
        display: none; } }

.searchBar {
  width: 50%;
  border-radius: 20px;
  margin-top: 2em;
  margin-left: 35%; }
  @media (min-width: 376px) and (max-width: 767px) {
    .searchBar {
      position: relative;
      margin-top: 120px;
      width: 180%;
      margin-left: -100%; } }
  @media (max-width: 375px) {
    .searchBar {
      position: relative;
      margin-top: 100px;
      width: 180%;
      margin-left: -100%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .searchBar {
      width: 75%;
      margin-left: 20%; } }

.menuBtn {
  display: none; }
  @media (max-width: 375px) {
    .menuBtn {
      display: inline;
      margin-top: 100px;
      margin-left: 5%;
      position: absolute;
      z-index: 5;
      font-weight: 900;
      padding: 1% 2%;
      border: 2px solid; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .menuBtn {
      display: inline;
      margin-top: 115px;
      margin-left: 5%;
      position: absolute;
      z-index: 5;
      font-weight: 900;
      padding: 1% 2%;
      border: 2px solid; } }

.logo {
  background-image: url("../img/splash-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 1%;
  width: 10em;
  height: 10em;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 375px) {
    .logo {
      width: 6em;
      height: 6em; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .logo {
      width: 7em;
      height: 7em; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .logo {
      width: 9em;
      height: 9em;
      margin-left: 2%; } }

.introText h1 {
  font-size: 2em;
  margin-left: 3%; }
.introText h2 {
  font-size: 1.2em;
  margin-left: 3%; }
@media (max-width: 375px) {
  .introText h1 {
    font-size: 1.8em; }
  .introText h2 {
    font-size: 1.2em; } }
@media (min-width: 376px) and (max-width: 767px) {
  .introText h1 {
    font-size: 1.8em; }
  .introText h2 {
    font-size: 1.2em; } }

.fitReg {
  margin-top: 20%; }
  @media (max-width: 375px) {
    .fitReg {
      margin-top: 85%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fitReg {
      margin-top: 75%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .fitReg {
      margin-top: 38%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .fitReg {
      margin-top: 38%; } }

.regButton {
  margin-top: 5%; }
  @media (max-width: 375px) {
    .regButton {
      margin-top: 7%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .regButton {
      margin-top: 7%; } }

.registerFormDiv {
  margin-left: 11%;
  margin-top: 5%;
  display: none; }
  .registerFormDiv p {
    font-size: 0.7em;
    color: red; }
  @media (max-width: 375px) {
    .registerFormDiv {
      margin-top: 7%;
      margin-left: 0%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .registerFormDiv {
      margin-top: 7%;
      margin-left: 0%; } }

.activeForm {
  display: block; }

.regSubmitBtn {
  margin-left: 5%;
  margin-top: 2%; }

.headWrapper {
  height: 10em;
  border-bottom: 2px solid white;
  width: 100%;
  position: relative;
  margin-left: 10%; }
  @media (max-width: 375px) {
    .headWrapper {
      border-bottom: 0;
      height: 5em; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .headWrapper {
      border-bottom: 0;
      height: 5em; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .headWrapper {
      border-bottom: 2px solid white;
      height: 9.5em; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .headWrapper {
      border-bottom: 2px solid white;
      height: 9.5em; } }

.headImg {
  background-image: url(../img/fashion-cover.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 8em;
  width: 40%;
  position: absolute;
  top: 3%;
  left: 30%; }
  @media (max-width: 375px) {
    .headImg {
      width: 120%;
      left: 25%;
      top: 15%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .headImg {
      width: 120%;
      left: 25%;
      top: 15%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .headImg {
      width: 90%;
      left: 5%;
      top: 10%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .headImg {
      width: 90%;
      left: 5%;
      top: 10%; } }

.fixedNavSpacing {
  margin-top: 15em; }
  @media (max-width: 375px) {
    .fixedNavSpacing {
      margin-top: 150px; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fixedNavSpacing {
      margin-top: 170px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .menuItems {
    position: absolute;
    margin-left: -20%;
    margin-top: 2%; } }
@media (min-width: 1025px) and (max-width: 1439px) {
  .menuItems {
    position: absolute;
    margin-left: -12.5%;
    margin-top: 1%; } }

input[type=checkbox]:checked ~ .collapsible-Menu li {
  position: relative;
  display: inline;
  vertical-align: text-top;
  font-size: 0.61em; }

input[type=checkbox]:checked ~ .collapsible-Menu .logo {
  display: none; }

input[type=checkbox]:checked ~ .collapsible-Menu .headImg {
  display: none; }

input[type=checkbox]:checked ~ .collapsible-Menu .searchBar {
  margin-left: -50%; }

input[type=checkbox]:checked ~ .collapsible-Menu ul {
  top: 40%;
  left: 2%; }

input[type=checkbox]:checked ~ .collapsible-Menu a {
  padding: 0.1em 0.1em; }

.copyright {
  margin: 1%; }

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

button {
  background-color: #660E52;
  color: #f2f2f2;
  font-weight: 900;
  width: 8em;
  border: solid 3px; }

input[type="submit"] {
  background: #660E52;
  color: #f2f2f2;
  font-weight: 900;
  width: 8em; }

.wrapItem1:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(4) {
  border: 1px, solid, red; }

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.head-grid-container {
  padding-top: 10%;
  margin-left: 3%; }
  .head-grid-container h1 {
    font-size: 2em; }
  .head-grid-container h2 {
    font-size: 1.2em; }

.fashionCover {
  background-image: url("../img/fashion-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 32em;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%; }

.mainPage {
  background-image: url("../img/fashion-page.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60em;
  width: 100%;
  margin-top: 1%;
  position: relative;
  z-index: -676762; }
  @media (max-width: 375px) {
    .mainPage {
      height: 20em;
      margin-top: 5%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .mainPage {
      height: 22em;
      margin-top: 5%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .mainPage {
      height: 20em;
      margin-top: 5%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .mainPage {
      height: 35em;
      margin-top: 5%; } }

.fashionText {
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
  font-weight: 300;
  font-size: 1.5em;
  width: 30%; }
  @media (max-width: 375px) {
    .fashionText {
      font-size: 1em;
      margin-top: 5%;
      margin-left: 3%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fashionText {
      font-size: 1em;
      margin-top: 5%;
      margin-left: 3%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .fashionText {
      font-size: 1.2em; } }

.translucentContainer {
  height: 205px;
  background-color: white;
  background-color: rgba(102, 14, 82, 0.3);
  border-radius: 50px;
  margin-top: 15%;
  border: solid 2px; }
  @media (max-width: 375px) {
    .translucentContainer {
      margin-top: 60%;
      margin-left: 50%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .translucentContainer {
      margin-top: 60%;
      margin-left: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .translucentContainer {
      margin-top: 10%;
      margin-left: 55%; } }

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.productList {
  margin-top: 5%; }
  @media (max-width: 375px) {
    .productList .overSizedImg {
      margin-left: 15%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .productList .overSizedImg {
      margin-left: 25%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .productList .overSizedImg {
      margin-left: 10%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .productList .overSizedImg {
      margin-left: 12%; } }
  @media (max-width: 375px) {
    .productList .col-4 {
      width: 100%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .productList .col-4 {
      width: 100%; } }
  .productList img {
    height: 200px;
    width: auto; }
    @media (max-width: 375px) {
      .productList img {
        height: 150px; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList img {
        height: 150px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .productList img {
        height: 120px; } }
  .productList article {
    margin-left: 25%;
    color: #660E52; }
    @media (max-width: 375px) {
      .productList article {
        margin-left: 25%;
        margin-bottom: 15%; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList article {
        margin-left: 30%;
        margin-bottom: 15%; } }
  .productList .itemName {
    font-size: 1.2em; }
    @media (max-width: 375px) {
      .productList .itemName {
        font-size: 0.8em;
        font-weight: 900; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList .itemName {
        font-size: 0.8em;
        font-weight: 900; } }
  .productList .brandName {
    font-size: 0.8em; }
  .productList .price {
    font-size: 0.8em; }

.active {
  display: inline; }

.wrapRow1,
.wrapRow2,
.wrapRow3,
.wrapRow4,
.wrapRow5,
.wrapRow6,
.wrapRow7 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white; }
  @media (max-width: 375px) {
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
      display: flex;
      flex-direction: column;
      border-bottom: none; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
      display: flex;
      flex-direction: column;
      border-bottom: none; } }

button {
  font-size: 0.8em;
  width: 11em; }

.previousPageBtn {
  margin-left: 5%;
  margin-top: 2%; }

.currentPage {
  margin-left: 5%; }

.itemRow1,
.itemRow2,
.itemRow3,
.itemRow4,
.itemRow5,
.itemRow6,
.itemRow7 {
  display: none; }

.active {
  display: inline; }

@media (max-width: 375px) {
  .bigWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%; } }
@media (min-width: 376px) and (max-width: 767px) {
  .bigWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%; } }

/*# sourceMappingURL=styles.css.map */
