@media screen and (max-width: 375px) {
        
    h3 {
        font-size: 1.2em;
    }
    .logo {
        width: 200px;
        margin-top: -15%;
    }

    .activeForm {
        display: inline-block;
        position: absolute;
    }
    .fitReg {
        margin-top: 390px;
    }
    .registerFormDiv {
        margin-top: 100%;
        margin-left: 30%;
        border: 3px solid white;
    }

    .itemDescription {
        margin-top: 100px;
    }

 .itemDescription img{
        width: 200px;
        height: auto;
    }

    .itemDescription .mainImg img{
        width: 300px;
    }
    .logoSalmon {
        height: 30px;
    }

}



@media screen and (max-width: 767px) and (min-width: 376px) {

    h3 {
        font-size: 1.2em;
    }
    .logo {
        width: 200px;
        margin-top: -15%;
    }

    .activeForm {
        display: inline-block;
        position: absolute;
    }
    .fitReg {
        margin-top: 390px;
    }
    .registerFormDiv {
        margin-top: 80%;
        margin-left: 30%;
        border: 3px solid white;
    }

    .itemDescription {
        margin-top: 100px;
    }

 .itemDescription img{
        width: 300px;
        height: auto;
    }

    .itemDescription .mainImg img{
        width: 400px;
    }
    .logoSalmon {
        height: 30px;
    }



}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }

main {
    margin-top: 40%;
}

.registerFormDiv {
    margin-top: 75%;
    margin-left: 37%;
    border: 3px solid white;
    font-size: 15px;
}

.fitReg{
    margin-top: 50%;
}
}


@media screen and (max-width: 1440px) and (min-width: 1025px) {


    
}