body{
    margin: 0;
    padding: 0;
    background-color: #E3CCD5;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1,h2,h3,h4,h5,h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    background-image: url("img/Splash-black.png");
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin-top: 25%;
}


.navbar {
    overflow: hidden;
    background-color: #660E52;
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #E3CCD5;
    color: black;
    
}

.searchBar{

 width: 30%;
 border-radius: 20px;
 margin-top: 0.7em;
 margin-bottom:0.7em;
}


#fashionCover{
    background-image: url("img/fashion-cover.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    width: 80%;
    margin-left: 10%;
   margin-bottom: -5%;
    
}


#mainPage{
    background-image: url("img/main-page.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    width: 80%;
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;
    
}


.introText{
  
    margin-top: 5%;
}


#fashionText{
border: 2px dotted;
text-align: center;
}


.orderBtn{
margin-left: 15%;
 margin-top: 12%;
 height: 8%;
 width: 15%;
 background: transparent;
 font-size: 1.2em;
 color: white;
 position: relative;
}