@media screen and (max-width: 375px) {
    .bigWrapper {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
    article {
        border-bottom: 5px dotted purple;
    }
    .fitReg {
        margin-top: 100%;
    }
    .registerFormDiv {
        margin-top: 100%;
    }
    button {
        width: 20%;
        height: 12%;
        font-size: 12px;
    }
    .nextPageBtn,
    .previousPageBtn {
        width: 30%;
        height: 10%;
        font-size: 10px;
        margin-left: 3%;
        margin-top: 3%;
    }
    .currentPage {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 767px) and (min-width: 376px) {
    .bigWrapper {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }
    article {
        border-bottom: 5px dotted purple;
    }
    .fitReg {
        margin-top: 100%;
    }
    .registerFormDiv {
        margin-top: 100%;
    }
    button {
        width: 20%;
        height: 12%;
        font-size: 12px;
    }
    .nextPageBtn,
    .previousPageBtn {
        width: 30%;
        height: 10%;
        font-size: 10px;
        margin-left: 3%;
        margin-top: 3%;
    }
    .currentPage {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

h3 {
font-size: 1.3em;
}

h1 {
font-size: 2em;
}
.tableItems{
    width: 100%;
    height: auto;
    margin-top: 10%;
margin-left: 0;
}
.tableItems img{
    
    height: 130px;
    width: auto;
}

.fitReg {
    margin-top: 60%;
}
.registerFormDiv {
    margin-top: 75%;
    margin-left: 35%;
    font-size: 1em;
}
button {
    width: 20%;
    height: 12%;
    font-size: 12px;
}
.nextPageBtn,
.previousPageBtn {
    width: 30%;
    height: 10%;
    font-size: 10px;
    margin-left: 3%;
    margin-top: 3%;
}
.currentPage {
    font-size: 0.8em;
}





}
