/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.itemRow1,
.itemRow2,
.itemRow3,
.itemRow4,
.itemRow5,
.itemRow6,
.itemRow7 {
    display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E3CCD5;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menuBtn {
    display: none;
}

.logo {
    background-image: url("img/Splash-black.png");
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
}

.expandButton {
    display: none;
}

.introText {
    margin-top: 2%;
    margin-left: 3%;
}

.navbar {
    overflow: hidden;
    background-color: #660E52;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.navbar a,
span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
 
}

.navbar a:hover {
    background: #E3CCD5;
    color: black;
}

.searchBar {
    width: 30%;
    border-radius: 20px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

#fashionCover {
    background-image: url("img/fashion-cover.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 32em;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

#mainPage {
    background-image: url("img/main-page.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 60em;
    width: auto;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}

#fashionText {
    border: 2px dotted;
    text-align: center;
}

.orderBtn {
    margin-left: 15%;
    margin-top: 12%;
    height: 8%;
    width: 15%;
    background: transparent;
    font-size: 1.2em;
    color: white;
    position: relative;
}

.head-grid-container {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.productList img {
    height: 200px;
    width: auto;
}

.productList table {
    background-color: white;
    color: purple;
    border: 2px solid;
}

.productList {
    margin-left: 3%;
    margin-right: 3%;
}

td {
    vertical-align: middle;
    border-bottom: 2px solid;
    font-weight: bold;
}

td img {
    border-left: 2px solid;
}

.itemDescription img {
    height: 400px;
    width: auto;
}

.previousPageBtn,
.currentPage,
.nextPageBtn {
    font-size: 1.2em;
}

.reqField {
    color: red;
}

.active {
    display: inline;
}

.regButton {
    display: inline-block;
    margin-right: 3%;
    margin-left: 40%;
}

.registerFormDiv {
    display: none;
    margin-top: 10%;
    margin-left: 40%;
    border: 3px solid white;
}

.activeForm {
    display: inline-block;
    position: absolute;
}

.fitReg {
    margin-top: 20%;
}

.wrapRow1,
.wrapRow2,
.wrapRow3,
.wrapRow4,
.wrapRow5,
.wrapRow6,
.wrapRow7 {
    display: flex;
    flex-direction: row;
    background: white;
    color: purple;
}

.wrapRow1,
.wrapRow2,
.wrapRow3,
.wrapRow4,
.wrapRow5,
.wrapRow6,
.wrapRow7 {
    display: flex;
    flex-direction: row;
    background: white;
    color: purple;
    width: 100%;
    border-bottom: 5px dotted purple;
}

.productList img {
    height: 16em;
    width: 15em;
}

.productList article {
    margin: 5%;
    margin-left: 10%;
}

.tableItems {
    margin-left: 5%;
}

@media screen and (max-width: 375px) {
    h2 {
        font-size: 1em;
    }
    .head-grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 25%;
    }
    .logo {
        width: 200px;
        margin-top: -15%;
    }
    #mainPage {
        width: 300px;
    }
    .introText {
        float: right;
        height: 10em;
        overflow-wrap: break-word;
    }
    .activeForm {
        display: inline-block;
        position: absolute;
    }
    .fitReg {
        margin-top: 105%;
    }
    .registerFormDiv {
        margin-top: 90%;
        margin-left: 30%;
        border: 3px solid white;
    }
    .regButton {
        margin-top: 5%;
    }
    .navbar {
        overflow: hidden;
        background-color: #660E52;
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .navbar a,
    span {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar a:hover {
        background: #E3CCD5;
        color: black;
    }
    .searchBar {
        width: 30%;
        border-radius: 20px;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    .expandButton {
        display: inline;
    }
    #fashionCover {
        margin-top: 15%;
        height: 150px;
    }
    #mainPage {
        height: 250px;
        margin-left: 2%;
        margin-top: 10%;
    }
    .orderBtn {
        height: 50px;
        width: 100px;
        font-size: 1.2em;
        margin-left: 60%;
        margin-top: 5%;
    }
    .logoSalmon {
        height: 30px;
    }
    .menuBtn {
        display: inline-block;
        margin-top: 10px;
    }
    .searchBar {
        width: 200px;
        margin-left: 30px;
    }
    .menuItems li {
        display: none;
    }
    input[type=checkbox]:checked~.menuItems li {
        display: block;
    }
    #menu {
        display: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 376px) {
    h2 {
        font-size: 1em;
    }
    .head-grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 25%;
    }
    .logo {
        width: 200px;
        margin-top: -15%;
        
    }
    #mainPage {
        width: 300px;
    }
    .introText {
        float: right;
        height: 10em;
        overflow-wrap: break-word;
    }
    .activeForm {
        display: inline-block;
        position: absolute;
    }
    .fitReg {
        margin-top: 70%;
    }
    .registerFormDiv {
        margin-top: 60%;
        margin-left: 30%;
        border: 3px solid white;
    }
    .regButton {
        margin-top: 5%;
    }
    .navbar {
        overflow: hidden;
        background-color: #660E52;
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .navbar a,
    span {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar a:hover {
        background: #E3CCD5;
        color: black;
    }
    .searchBar {
        width: 30%;
        border-radius: 20px;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    .expandButton {
        display: inline;
    }
    #fashionCover {
        margin-top: 7%;
        height: 150px;
    }
    #mainPage {
        height: 370px;
        width: auto;
        margin-left: 5%;
        margin-top: 10%;
        background-size: 370px;
    }
    .orderBtn {
        height: 50px;
        width: 100px;
        font-size: 1.2em;
        margin-left: 50%;
        margin-top: 5%;
    }
    .logoSalmon {
        height: 30px;
    }
    .menuBtn {
        display: inline-block;
        margin-top: 10px;
    }
    .searchBar {
        width: 200px;
        margin-left: 30px;
    }
    .menuItems li {
        display: none;
    }
    input[type=checkbox]:checked~.menuItems li {
        display: block;
    }
    #menu {
        display: none;
    }
}


@media screen and (max-width: 1024px) and (min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }

    h1{
        font-size: 4em;
    }
    .head-grid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 10%;
    }
    .logo {
        width: 300px;
        height: 300px;
        background-size: 300px;
    }
    #mainPage {
        width: 300px;
    }
    .introText {
        float: right;
        height: 10em;
        overflow-wrap: break-word;
    }
    .activeForm {
        display: inline-block;
        position: absolute;
    }
    .fitReg {
        margin-top: 105%;
    }
    .registerFormDiv {
        margin-top: 100%;
        margin-left: 30%;
        border: 3px solid white;
        font-size: 2em;
    }
    .regButton {
        margin-top: 5%;
        height: 50px;
        width: 100px;
    }

    .navbar a,
    span {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .navbar a:hover {
        background: #E3CCD5;
        color: black;
    }
    .searchBar {
        width: 30%;
        border-radius: 20px;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    .expandButton {
        display: inline;
    }
    #fashionCover {
        margin-top: 50%;
        height: 300px;
    }
    #mainPage {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        height: 500px;
        background-size: 100%;
        margin-bottom: 5%;
    }
    .orderBtn {
        height: 50px;
        width: 100px;
        font-size: 1.2em;
        margin-left: 60%;
        margin-top: 5%;
    }
    .logoSalmon {
        height: 30px;
    }
  
    .searchBar {
        width: 200px;
        margin-left: 30px;
    }

}




@media screen and (max-width: 1440px) and (min-width: 1025px) {
   
.menuBtn {
    display: none;
}

.logo {
    background-image: url("img/Splash-black.png");
    background-repeat: no-repeat;
    background-size: 150px;
    width: 350px;
    height: 150px;
}


.expandButton {
    display: none;
}

.introText {
    margin-top: 2%;
    margin-left: 3%;
}

.navbar {
    overflow: hidden;
    background-color: #660E52;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.navbar a,
span {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #E3CCD5;
    color: black;
}

.searchBar {
    width: 30%;
    border-radius: 20px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

#fashionCover {
    background-image: url("img/fashion-cover.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 32em;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
}

#mainPage {
    background-image: url("img/main-page.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 40em;
    width: auto;
    margin-left: 3%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 3%;
}

#fashionText {
    border: 2px dotted;
    text-align: center;
}

.orderBtn {
    margin-left: 15%;
    margin-top: 12%;
    height: 8%;
    width: 15%;
    background: transparent;
    font-size: 1.2em;
    color: white;
    position: relative;
}

.head-grid-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.productList img {
    height: 200px;
    width: auto;
}

.productList table {
    background-color: white;
    color: purple;
    border: 2px solid;
}

.productList {
    margin-left: 3%;
    margin-right: 3%;
}

td {
    vertical-align: middle;
    border-bottom: 2px solid;
    font-weight: bold;
}

td img {
    border-left: 2px solid;
}

.itemDescription img {
    height: 400px;
    width: auto;
}

.previousPageBtn,
.currentPage,
.nextPageBtn {
    font-size: 1.2em;
}

.reqField {
    color: red;
}

.active {
    display: inline;
}

.regButton {
    display: inline-block;
    margin-right: 3%;
    margin-left: 40%;
}

.registerFormDiv {
    display: none;
    margin-top: 20%;
    margin-left: 40%;
    border: 3px solid white;
}

.activeForm {
    display: inline-block;
    position: absolute;
}

.fitReg {
    margin-top: 40%;
}

.regButton{
    margin-top: 3%;
}

.productList img {
    height: 16em;
    width: 15em;
}

.productList article {
    margin: 5%;
    margin-left: 10%;
}

.tableItems {
    margin-left: 5%;
}


}

