
%clearfix:after {
    display:block;
    clear:both;
    content:'';
    }
  
    $grid-spacing:3%;
    .row {
    @extend %clearfix;
    & + & {
    margin-top:$grid-spacing;
    }
    }
    [class^="col-"] {
    float:left;
    margin-right:$grid-spacing;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    &:last-child {
    margin-right:0%;
    }
}
    [class^="ns-col-"] {
        float:left;
        margin-right: 0px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

[class^="of-col-"]{
    float: left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


    .col-1 { width:(100% / 12) - ($grid-spacing * 11 / 12); }
    .col-2 { width:(100% / 6) - ($grid-spacing * 10 / 12); }
    .col-3 { width:(100% / 4) - ($grid-spacing * 9 / 12); }
    .col-4 { width:(100% / 3) - ($grid-spacing * 8 / 12); }
    .col-5 { width:(100% / 2.4) - ($grid-spacing * 7 / 12); }
    .col-6 { width:(100% / 2) - ($grid-spacing * 6 / 12); }
    .col-7 { width:(100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
    .col-8 { width:(100% / 1.5) - ($grid-spacing * 4 / 12); }
    .col-9 { width:(100% / 1.333333333333333) - ($grid-spacing * 3 / 12); }
    .col-10 { width:(100% / 1.2) - ($grid-spacing * 2 / 12); }
    .col-11 { width:(100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
    .col-12 { width:100%; }

    .ns-col-1{ width:(100% / 12)}
    .ns-col-2 { width:(100% / 6) }
    .ns-col-3 { width:(100% / 4)}
    .ns-col-4 { width:(100% / 3) }
    .ns-col-5 { width:(100% / 2.4)}
    .ns-col-6 { width:(100% / 2) }
    .ns-col-7 { width:(100% / 1.714285714285714)  }
    .ns-col-8 { width:(100% / 1.5) }
    .ns-col-9 { width:(100% / 1.333333333333333) }
    .ns-col-10 { width:(100% / 1.2)  }
    .ns-col-11 { width:(100% / 1.090909090909091) }
    .ns-col-12 { width:100%}

    .of-col-1 { width:(100% / 12); margin-left: (100%/12)}
    .of-col-2 { width:(100% / 6); margin-left: (100%/6) }
    .of-col-3 { width:(100% / 4); margin-left: (100%/4)}
    .of-col-4 { width:(100% / 3); margin-left: (100%/3) }
    .of-col-5 { width:(100% / 2.4); margin-left: (100%/2.4)}
    .of-col-6 { width:(100% / 2); margin-left: (100%/2)}
    .of-col-7 { width:(100% / 1.714285714285714); margin-left: (100%/1.714285714285714) }
    .of-col-8 { width:(100% / 1.5);margin-left: (100%/1.5) }
    .of-col-9 { width:(100% / 1.333333333333333); margin-left: (100%/1.333333333333333) }
    .of-col-10 { width:(100% / 1.2); margin-left: (100% / 1.2) }
    .of-col-11 { width:(100% / 1.090909090909091);margin-left: (100% / 1.090909090909091) }
  

    

