
$thPink: rgb(23, 170, 3);
$thPurple: #660E52;
$thWhite: #eb550f;
$thBlue: #0000ff;

$pinkList:($thPink);
$purpleList:($thPurple);
$whiteList:($thWhite);
$blueList:($thBlue);
$newList:();
@for $e from 1 through 3 {
$pinkList: append($pinkList, (darken(nth($pinkList, $e), 10%)));
$purpleList: append($purpleList, (lighten(nth($purpleList, $e), 10%)));
$whiteList: append($whiteList, (darken(nth($whiteList, $e), 10%)));
$blueList: append($blueList, (lighten(nth($blueList, $e), 10%)));
}

$newList: join($newList, $pinkList);
$newList: join($newList, $purpleList);
$newList: join($newList, $whiteList);
$newList: join($newList, $blueList);

$count: 1;
@for $i from 1 through 7 {
      @for $e from 1 through 4 {
       $count: $count + 1;
       @if $count == length($newList)+1 {
           $count: 1;
       }
.wrapRow#{$i} .col-4:nth-child(#{$e}){
   border: 2px solid nth($newList, $count);
}
}
}

