$thPink: #E3CCD5;
$thPurple: #660E52;
$thWhite: #f2f2f2;
$mainFont: Verdana, Geneva, Tahoma, sans-serif;
$headFont: Georgia, 'Times New Roman', Times, serif;


@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1440px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 1025px) and (max-width: 1439px){ @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 768px) and (max-width: 1024px)  { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 376px) and (max-width: 767px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 375px ) { @content ; }
 
   }
 }
 


body {
    
color: white;
    font: {
        family: $mainFont;
        
    }
    background-color: $thPink;
}

h1,h2,h3,h4,h5,h6 {
    font: {
        family: $headFont;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}