@import 'partials/variables';
 



@include breakpoint(mobileonly){
        
    h1 {
        font-size: 0.2em;
    }
    h2 {
        font-size: 0.2em;
    }
    span {
        font-size: 0.6em;
    }
  

    .itemDescription {
        margin-top: 100px;
    }

 .itemDescription img{
        width: 200px;
        height: auto;
    }

    .itemDescription .mainImg img{
        width: 200px;
    }
   
    .thirdImg{
        width: 200px;   
    }
    
}



@include breakpoint(phablet){

    h3 {
        font-size: 1.2em;
    }
   
    .itemDescription {
        margin-top: 100px;
    }

 .itemDescription img{
        width: 300px;
        height: auto;
    }

    .itemDescription .mainImg img{
        width: 400px;
    }




}

@include breakpoint(tablet){

    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }

    .itemDescription {
        margin-top: 100px;
    }

 .itemDescription img{
        width: 200px;
        height: auto;
    }

    .itemDescription .mainImg img{
        width: 400px;
    }


}

