@import 'partials/variables';

.head-grid-container {
    padding-top: 10%;
    margin-left: 3%;
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.2em;
    }
}

.fashionCover {
    background-image: url("../img/fashion-cover.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 32em;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;

}

.mainPage {
    background-image: url("../img/fashion-page.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60em;
    width: 100%;
    margin-top: 1%;
    position: relative;
    z-index: -676762;
   
    @include breakpoint(mobileonly){
        height: 20em;
        margin-top: 5%;
    }
    @include breakpoint(phablet){
        height: 22em;
        margin-top: 5%;
    }
    @include breakpoint(tablet){
        height: 20em;
        margin-top: 5%;
    }
    @include breakpoint(laptop){
        height: 35em;
        margin-top: 5%;
    }
}

.fashionText {

   
 margin-top: 2%;
 margin-left: 2%;
position: absolute;
font-weight: 300;
font-size: 1.5em;
width: 30%;
@include breakpoint(mobileonly){
font-size: 1em;
margin-top: 5%;
margin-left: 3%;
}

@include breakpoint(phablet){
    font-size: 1em;
    margin-top: 5%;
    margin-left: 3%;
    }
    
@include breakpoint(tablet){
     font-size: 1.2em;
    }
}

.translucentContainer{
height: 205px;
background-color: white;
background-color: rgba(102,14,82, 0.3);
border-radius: 50px;
margin-top: 15%;
border: solid 2px;
@include breakpoint(mobileonly){
    margin-top: 60%;
    margin-left: 50%;
}
@include breakpoint(phablet){
    margin-top: 60%;
    margin-left: 50%;

}
@include breakpoint(tablet){
    margin-top: 10%;
    margin-left: 55%;

}
}