@import 'partials/variables';


  
.productList {
    margin-top: 5%;

    .overSizedImg{
        @include breakpoint(mobileonly){
        
        margin-left: 15%;
        }
        @include breakpoint(phablet){
        
            margin-left: 25%;
            }
            @include breakpoint(tablet){
        
                margin-left: 10%;
                }
                @include breakpoint(laptop){
        
                    margin-left: 12%;
                    }
        }

   
    @include breakpoint(mobileonly){
    .col-4 {
        width: 100%;
    }
}
    @include breakpoint(phablet){
        .col-4 {
        width: 100%;
        }
    }

    img {
        height: 200px;
        width: auto;

        @include breakpoint(mobileonly){
height: 150px;

        }
        @include breakpoint(phablet){
            height: 150px;
            
                    }
                    @include breakpoint(tablet){
                        height: 120px;
                        
                                }
            

       
    }
article {
    margin-left: 25%;
    color: $thPurple;
    @include breakpoint(mobileonly){
margin-left: 25%;
margin-bottom: 15%;



    }

    @include breakpoint(phablet){
        margin-left: 30%;
        margin-bottom: 15%;
        
        
        
            }
  
}

.itemName{
    font-size: 1.2em;

    @include breakpoint(mobileonly){
font-size: 0.8em;
font-weight: 900;


    }
    
    @include breakpoint(phablet){
        font-size: 0.8em;
        font-weight: 900;
        
        
            }
}
.brandName{
    font-size: 0.8em;
}
.price {
font-size: 0.8em;
}

}

.active {
    display: inline;
}

.wrapRow1,
.wrapRow2,
.wrapRow3,
.wrapRow4,
.wrapRow5,
.wrapRow6,
.wrapRow7 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
 
    @include breakpoint(mobileonly){

        display: flex;
        flex-direction: column;
        border-bottom: none;

    }
    @include breakpoint(phablet){

        display: flex;
        flex-direction: column;
        border-bottom: none;

    }
}


button {
    font-size: 0.8em;
    width: 11em;
}

.previousPageBtn{
    margin-left: 5%;
    margin-top: 2%;
}
.currentPage{
    margin-left: 5%;
}

.itemRow1,
.itemRow2,
.itemRow3,
.itemRow4,
.itemRow5,
.itemRow6,
.itemRow7 {
    display: none;
}

.active {
    display: inline;
}


    .bigWrapper {
        @include breakpoint(mobileonly){
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        }
        @include breakpoint(phablet){
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            }
    }



