@import 'partials/variables';
button {
   
    background-color: $thPurple;
    color: $thWhite;
    font-weight: 900;
    width: 8em;
    border: solid 3px;
}
input[type="submit"]{

 
    background: $thPurple;
    color: $thWhite;
    font-weight: 900;
    width: 8em;
    
}


@for $i from 1 through 4 {
    @for $j from 1 through 4 {
.wrapItem#{$i}:nth-child(#{$j}){
    border: 1px, solid, red
}
}
}