@import 'partials/variables';
#menu {
    display: none;
}

.navbar {
    background-color: $thPurple;
    position: fixed;
    width: 100%;
    height: 190px;
    a {
        color: $thWhite;
        margin-left: 1em;
        text-decoration: none;
        padding: 0.3em 0.6em;
        white-space: nowrap;
        @include breakpoint(phablet) {
            font-size: 1.3em;
        }
    }
    a:hover {
        background: $thPink;
        color: black;
    }
    ul {
        position: absolute;
        bottom: 3%;
        left: 30%;
    }
    li {
        font-size: 1em;
        display: table-cell;
        font-weight: 900;
    }
    @include breakpoint(mobileonly) {
        height: 140px;
        li {
            font-size: 0.5em;
            display: none;
        }
    }
    @include breakpoint(phablet) {
        height: 150px;
        li {
            font-size: 13em;
            display: none;
        }
    }
}

.searchBar {
    width: 50%;
    border-radius: 20px;
    margin-top: 2em;
    margin-left: 35%;
    @include breakpoint(phablet) {
        position: relative;
        margin-top: 120px;
        width: 180%;
        margin-left: -100%;
    }
    @include breakpoint(mobileonly) {
        position: relative;
        margin-top: 100px;
        width: 180%;
        margin-left: -100%;
    }
    @include breakpoint(tablet) {
        width: 75%;
        margin-left: 20%;
    }
}

.menuBtn {
    display: none;
    @include breakpoint(mobileonly) {
        display: inline;
        margin-top: 100px;
        margin-left: 5%;
        position: absolute;
        z-index: 5;
        font-weight: 900;
        padding: 1% 2%;
        border: 2px solid
    }
    @include breakpoint(phablet) {
        display: inline;
        margin-top: 115px;
        margin-left: 5%;
        position: absolute;
        z-index: 5;
        font-weight: 900;
        padding: 1% 2%;
        border: 2px solid
    }
}

.logo {
    background-image: url("../img/splash-logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    width: 10em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mobileonly) {
        width: 6em;
        height: 6em;
    }
    @include breakpoint(phablet) {
        width: 7em;
        height: 7em;
    }
    @include breakpoint(tablet) {
        width: 9em;
        height: 9em;
        margin-left: 2%;
    }
}

.introText {
    h1 {
        font-size: 2em;
        margin-left: 3%;
    }
    h2 {
        font-size: 1.2em;
        margin-left: 3%;
    }
    @include breakpoint(mobileonly) {
        h1 {
            font-size: 1.8em;
        }
        h2 {
            font-size: 1.2em;
        }
    }
    @include breakpoint(phablet) {
        h1 {
            font-size: 1.8em;
        }
        h2 {
            font-size: 1.2em;
        }
    }
}

.fitReg {
    margin-top: 20%;
    @include breakpoint(mobileonly) {
        margin-top: 85%;
    }
    @include breakpoint(phablet) {
        margin-top: 75%;
    }
    @include breakpoint(tablet) {
        margin-top: 38%;
    }
    @include breakpoint(laptop) {
        margin-top: 38%;
    }
}

.regButton {
    margin-top: 5%;
    @include breakpoint(mobileonly) {
        margin-top: 7%;
    }
    @include breakpoint(phablet) {
        margin-top: 7%;
    }
}

.registerFormDiv {
    margin-left: 11%;
    margin-top: 5%;
    display: none;
    p {
        font-size: 0.7em;
        color: red;
    }
    @include breakpoint(mobileonly) {
        margin-top: 7%;
        margin-left: 0%;
    }
    @include breakpoint(phablet) {
        margin-top: 7%;
        margin-left: 0%;
    }
}

.activeForm {
    display: block;
}

.regSubmitBtn {
    margin-left: 5%;
    margin-top: 2%;
}

.headWrapper {
    height: 10em;
    border-bottom: 2px solid white;
    width: 100%;
    position: relative;
    margin-left: 10%;
    @include breakpoint(mobileonly) {
        border-bottom: 0;
        height: 5em;
    }
    @include breakpoint(phablet) {
        border-bottom: 0;
        height: 5em;
    }
    @include breakpoint(tablet) {
        border-bottom: 2px solid white;
        height: 9.5em
    }
    @include breakpoint(laptop) {
        border-bottom: 2px solid white;
        height: 9.5em
    }
}

.headImg {
    background-image: url(../img/fashion-cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 8em;
    width: 40%;
    position: absolute;
    top: 3%;
    left: 30%;
    @include breakpoint(mobileonly) {
        width: 120%;
        left: 25%;
        top: 15%;
    }
    @include breakpoint(phablet) {
        width: 120%;
        left: 25%;
        top: 15%;
    }
    @include breakpoint(tablet) {
        width: 90%;
    left: 5%;
        top: 10%;
    }
    @include breakpoint(laptop) {
        width: 90%;
    left: 5%;
        top: 10%;
    }
}

.fixedNavSpacing {
    margin-top: 15em;
    @include breakpoint(mobileonly) {
        margin-top: 150px;
    }
    @include breakpoint(phablet) {
        margin-top: 170px;
    }
}

.menuItems {
    @include breakpoint(tablet) {
        position: absolute;
        margin-left: -20%;
   margin-top: 2%;
    }
    @include breakpoint(laptop) {
        position: absolute;
        margin-left: -12.5%;
   margin-top: 1%;
    }
}

input[type=checkbox]:checked~.collapsible-Menu li {
    position: relative;
    display: inline;
    vertical-align: text-top;
    font-size: 0.61em;
}

input[type=checkbox]:checked~.collapsible-Menu .logo {
    display: none;
}

input[type=checkbox]:checked~.collapsible-Menu .headImg {
    display: none;
}

input[type=checkbox]:checked~.collapsible-Menu .searchBar {
    margin-left: -50%;
}

input[type=checkbox]:checked~.collapsible-Menu ul {
    top: 40%;
    left: 2%;
}

input[type=checkbox]:checked~.collapsible-Menu a {
    padding: 0.1em 0.1em;
}