body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

button {
  background-color: #660E52;
  color: #f2f2f2;
  font-weight: 900;
  width: 8em;
  border: solid 3px; }

input[type="submit"] {
  background: #660E52;
  color: #f2f2f2;
  font-weight: 900;
  width: 8em; }

.wrapItem1:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem1:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem2:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem3:nth-child(4) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(1) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(2) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(3) {
  border: 1px, solid, red; }

.wrapItem4:nth-child(4) {
  border: 1px, solid, red; }

/*# sourceMappingURL=button.css.map */
