body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#menu {
  display: none; }

.navbar {
  background-color: #660E52;
  position: fixed;
  width: 100%;
  height: 190px; }
  .navbar a {
    color: #f2f2f2;
    margin-left: 1em;
    text-decoration: none;
    padding: 0.3em 0.6em;
    white-space: nowrap; }
    @media (min-width: 376px) and (max-width: 767px) {
      .navbar a {
        font-size: 1.3em; } }
  .navbar a:hover {
    background: #E3CCD5;
    color: black; }
  .navbar ul {
    position: absolute;
    bottom: 3%;
    left: 30%; }
  .navbar li {
    font-size: 1em;
    display: table-cell;
    font-weight: 900; }
  @media (max-width: 375px) {
    .navbar {
      height: 140px; }
      .navbar li {
        font-size: 0.5em;
        display: none; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .navbar {
      height: 150px; }
      .navbar li {
        font-size: 13em;
        display: none; } }

.searchBar {
  width: 50%;
  border-radius: 20px;
  margin-top: 2em;
  margin-left: 35%; }
  @media (min-width: 376px) and (max-width: 767px) {
    .searchBar {
      position: relative;
      margin-top: 120px;
      width: 180%;
      margin-left: -100%; } }
  @media (max-width: 375px) {
    .searchBar {
      position: relative;
      margin-top: 100px;
      width: 180%;
      margin-left: -100%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .searchBar {
      width: 75%;
      margin-left: 20%; } }

.menuBtn {
  display: none; }
  @media (max-width: 375px) {
    .menuBtn {
      display: inline;
      margin-top: 100px;
      margin-left: 5%;
      position: absolute;
      z-index: 5;
      font-weight: 900;
      padding: 1% 2%;
      border: 2px solid; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .menuBtn {
      display: inline;
      margin-top: 115px;
      margin-left: 5%;
      position: absolute;
      z-index: 5;
      font-weight: 900;
      padding: 1% 2%;
      border: 2px solid; } }

.logo {
  background-image: url("../img/splash-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 1%;
  width: 10em;
  height: 10em;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 375px) {
    .logo {
      width: 6em;
      height: 6em; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .logo {
      width: 7em;
      height: 7em; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .logo {
      width: 9em;
      height: 9em;
      margin-left: 2%; } }

.introText h1 {
  font-size: 2em;
  margin-left: 3%; }
.introText h2 {
  font-size: 1.2em;
  margin-left: 3%; }
@media (max-width: 375px) {
  .introText h1 {
    font-size: 1.8em; }
  .introText h2 {
    font-size: 1.2em; } }
@media (min-width: 376px) and (max-width: 767px) {
  .introText h1 {
    font-size: 1.8em; }
  .introText h2 {
    font-size: 1.2em; } }

.fitReg {
  margin-top: 20%; }
  @media (max-width: 375px) {
    .fitReg {
      margin-top: 85%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fitReg {
      margin-top: 75%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .fitReg {
      margin-top: 38%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .fitReg {
      margin-top: 38%; } }

.regButton {
  margin-top: 5%; }
  @media (max-width: 375px) {
    .regButton {
      margin-top: 7%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .regButton {
      margin-top: 7%; } }

.registerFormDiv {
  margin-left: 11%;
  margin-top: 5%;
  display: none; }
  .registerFormDiv p {
    font-size: 0.7em;
    color: red; }
  @media (max-width: 375px) {
    .registerFormDiv {
      margin-top: 7%;
      margin-left: 0%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .registerFormDiv {
      margin-top: 7%;
      margin-left: 0%; } }

.activeForm {
  display: block; }

.regSubmitBtn {
  margin-left: 5%;
  margin-top: 2%; }

.headWrapper {
  height: 10em;
  border-bottom: 2px solid white;
  width: 100%;
  position: relative;
  margin-left: 10%; }
  @media (max-width: 375px) {
    .headWrapper {
      border-bottom: 0;
      height: 5em; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .headWrapper {
      border-bottom: 0;
      height: 5em; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .headWrapper {
      border-bottom: 2px solid white;
      height: 9.5em; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .headWrapper {
      border-bottom: 2px solid white;
      height: 9.5em; } }

.headImg {
  background-image: url(../img/fashion-cover.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 8em;
  width: 40%;
  position: absolute;
  top: 3%;
  left: 30%; }
  @media (max-width: 375px) {
    .headImg {
      width: 120%;
      left: 25%;
      top: 15%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .headImg {
      width: 120%;
      left: 25%;
      top: 15%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .headImg {
      width: 90%;
      left: 5%;
      top: 10%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .headImg {
      width: 90%;
      left: 5%;
      top: 10%; } }

.fixedNavSpacing {
  margin-top: 15em; }
  @media (max-width: 375px) {
    .fixedNavSpacing {
      margin-top: 150px; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fixedNavSpacing {
      margin-top: 170px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .menuItems {
    position: absolute;
    margin-left: -20%;
    margin-top: 2%; } }
@media (min-width: 1025px) and (max-width: 1439px) {
  .menuItems {
    position: absolute;
    margin-left: -12.5%;
    margin-top: 1%; } }

input[type=checkbox]:checked ~ .collapsible-Menu li {
  position: relative;
  display: inline;
  vertical-align: text-top;
  font-size: 0.61em; }

input[type=checkbox]:checked ~ .collapsible-Menu .logo {
  display: none; }

input[type=checkbox]:checked ~ .collapsible-Menu .headImg {
  display: none; }

input[type=checkbox]:checked ~ .collapsible-Menu .searchBar {
  margin-left: -50%; }

input[type=checkbox]:checked ~ .collapsible-Menu ul {
  top: 40%;
  left: 2%; }

input[type=checkbox]:checked ~ .collapsible-Menu a {
  padding: 0.1em 0.1em; }

/*# sourceMappingURL=header.css.map */
