body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

@media (max-width: 375px) {
  h1 {
    font-size: 0.2em; }

  h2 {
    font-size: 0.2em; }

  span {
    font-size: 0.6em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 200px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 200px; }

  .thirdImg {
    width: 200px; } }
@media (min-width: 376px) and (max-width: 767px) {
  h3 {
    font-size: 1.2em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 300px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 400px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em; }

  .itemDescription {
    margin-top: 100px; }

  .itemDescription img {
    width: 200px;
    height: auto; }

  .itemDescription .mainImg img {
    width: 400px; } }

/*# sourceMappingURL=archer-turtle-neck.css.map */
