body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.head-grid-container {
  padding-top: 10%;
  margin-left: 3%; }
  .head-grid-container h1 {
    font-size: 2em; }
  .head-grid-container h2 {
    font-size: 1.2em; }

.fashionCover {
  background-image: url("../img/fashion-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 32em;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%; }

.mainPage {
  background-image: url("../img/fashion-page.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60em;
  width: 100%;
  margin-top: 1%;
  position: relative;
  z-index: -676762; }
  @media (max-width: 375px) {
    .mainPage {
      height: 20em;
      margin-top: 5%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .mainPage {
      height: 22em;
      margin-top: 5%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .mainPage {
      height: 20em;
      margin-top: 5%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .mainPage {
      height: 35em;
      margin-top: 5%; } }

.fashionText {
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
  font-weight: 300;
  font-size: 1.5em;
  width: 30%; }
  @media (max-width: 375px) {
    .fashionText {
      font-size: 1em;
      margin-top: 5%;
      margin-left: 3%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .fashionText {
      font-size: 1em;
      margin-top: 5%;
      margin-left: 3%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .fashionText {
      font-size: 1.2em; } }

.translucentContainer {
  height: 205px;
  background-color: white;
  background-color: rgba(102, 14, 82, 0.3);
  border-radius: 50px;
  margin-top: 15%;
  border: solid 2px; }
  @media (max-width: 375px) {
    .translucentContainer {
      margin-top: 60%;
      margin-left: 50%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .translucentContainer {
      margin-top: 60%;
      margin-left: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .translucentContainer {
      margin-top: 10%;
      margin-left: 55%; } }

/*# sourceMappingURL=home.css.map */
