body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3CCD5; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.productList {
  margin-top: 5%; }
  @media (max-width: 375px) {
    .productList .overSizedImg {
      margin-left: 15%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .productList .overSizedImg {
      margin-left: 25%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .productList .overSizedImg {
      margin-left: 10%; } }
  @media (min-width: 1025px) and (max-width: 1439px) {
    .productList .overSizedImg {
      margin-left: 12%; } }
  @media (max-width: 375px) {
    .productList .col-4 {
      width: 100%; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .productList .col-4 {
      width: 100%; } }
  .productList img {
    height: 200px;
    width: auto; }
    @media (max-width: 375px) {
      .productList img {
        height: 150px; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList img {
        height: 150px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .productList img {
        height: 120px; } }
  .productList article {
    margin-left: 25%;
    color: #660E52; }
    @media (max-width: 375px) {
      .productList article {
        margin-left: 25%;
        margin-bottom: 15%; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList article {
        margin-left: 30%;
        margin-bottom: 15%; } }
  .productList .itemName {
    font-size: 1.2em; }
    @media (max-width: 375px) {
      .productList .itemName {
        font-size: 0.8em;
        font-weight: 900; } }
    @media (min-width: 376px) and (max-width: 767px) {
      .productList .itemName {
        font-size: 0.8em;
        font-weight: 900; } }
  .productList .brandName {
    font-size: 0.8em; }
  .productList .price {
    font-size: 0.8em; }

.active {
  display: inline; }

.wrapRow1,
.wrapRow2,
.wrapRow3,
.wrapRow4,
.wrapRow5,
.wrapRow6,
.wrapRow7 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white; }
  @media (max-width: 375px) {
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
      display: flex;
      flex-direction: column;
      border-bottom: none; } }
  @media (min-width: 376px) and (max-width: 767px) {
    .wrapRow1,
    .wrapRow2,
    .wrapRow3,
    .wrapRow4,
    .wrapRow5,
    .wrapRow6,
    .wrapRow7 {
      display: flex;
      flex-direction: column;
      border-bottom: none; } }

button {
  font-size: 0.8em;
  width: 11em; }

.previousPageBtn {
  margin-left: 5%;
  margin-top: 2%; }

.currentPage {
  margin-left: 5%; }

.itemRow1,
.itemRow2,
.itemRow3,
.itemRow4,
.itemRow5,
.itemRow6,
.itemRow7 {
  display: none; }

.active {
  display: inline; }

@media (max-width: 375px) {
  .bigWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%; } }
@media (min-width: 376px) and (max-width: 767px) {
  .bigWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%; } }

/*# sourceMappingURL=products.css.map */
